input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
 
  
    /* The outline will be the outer circle */
    outline: 2px solid #fff;
  }

  input[type="radio"]:checked{
background-color: red
  }

  /* .mydate fieldset.MuiOutlinedInput-notchedOutline {
    border-color: green;
  } */
  
  .mydate .Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
    border-color: grey;
    border-width: 1px;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;